.hit-me-hard-and-soft {
    background-color: #0A1D32;
    color: #FFFFFF;
  }
  
  .hit-me-hard-and-soft .light-blue {
    color: #009DEE;
  }
  
  .hit-me-hard-and-soft .teal {
    color: #00739B;
  }
  
  .hit-me-hard-and-soft .navy {
    color: #0A4267;
  }
  
  .hit-me-hard-and-soft .dark-teal {
    color: #00355C;
  }
  
  .hit-me-hard-and-soft .midnight {
    color: #003357;
  }
  
  .hit-me-hard-and-soft .indigo {
    color: #072A41;
  }
  
  .hit-me-hard-and-soft .navy-dark {
    color: #0B213A;
  }
  
  .hit-me-hard-and-soft .black {
    color: #0A1D32;
  }

  