body{
  background-color: #0A1D32;
}
a {
  color: inherit;
}
/*nav*/
nav {
  position: sticky;
  top: 0;
  z-index: 1000; /* 確保導覽列在最上層 */
  background-color:#00739B; /* 讓導覽列有背景色，避免內容與導覽列混淆 */
}
nav a {
  color: inherit; /* 移除超連結顏色 */
  display: block; /* 讓 <a> 填滿 <li> */
  font-size: 1.2rem;
  padding: 10px;
  text-decoration: none; /* 移除超連結底線 */
}

nav a:hover {
  background-color: #00739B;
  color: #E0E0E0;
  border-radius: 10px;
}

nav>ul {
  background-color:#072A41;
  color: #E0E0E0;
  list-style: none;
  /* 移除項目符號 */
  margin: 0;
  padding: 0;
  display: flex; /*導覽列裡的清單項目並排*/
  justify-content: space-evenly; /*空間平均分配到所有子元素之間，頭尾和邊緣之間也保留同樣寬度的間隔*/
}

.door {
  color: #ffffff !important;
  background-color: #00739B !important;
  border: none !important; /* 避免邊框顯示不正常 */
  opacity: 1 !important; /* 確保按鈕完全可見 */
}

.door:hover {
  background-color: #005a7d !important; /* 滑鼠懸停變色 */
  opacity: 1 !important;  /* 確保不會隱藏 */
}

.hit-me-hard-and-soft {
    background-color: #0A1D32;
    color: #FFFFFF;
  }
  
  .HMHAS01 {
    color: #009DEE;
  }
  
  .HMHAS02{
    color: #00739B;
  }
  
  .HMHAS03{
    color: #0A4267;
  }
  
  .HMHAS04{
    color: #00355C;
  }
  
  .HMHAS05{
    color: #003357;
  }
  
  .HMHAS06{
    color: #072A41;
  }
  
  .HMHAS07{
    color: #0B213A;
  }
  
  .HMHAS08{
    color: #0A1D32;
  }

  